/* h1 {
    color: red;
} */
h2 {
    color: yellow;
}
h3 {
    color: turquoise;
}
.box-titulos {
    background-color: red;
    border: 10px solid;
}
.titulo-principal {
    font-size: 3rem;
    text-transform: uppercase;
    
}
.titulo-destaque {
    color: blue;
}
#titulo-secundario {
    font-size: 2.8rem;
    color: blueviolet;
}