* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url('./background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 350px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.task-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-form input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.task-form button {
  padding: 10px 20px;
  border: none;
  background-color: #00738c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.task-form button:hover {
  background-color: #025eaa;
}


.btn-delete {
 color: white;
    background-color: #02738c;
    padding: 5px;
    border: none;
    cursor: pointer;
}
.list-item {
  list-style: none;
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
}